@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "DejaVu";
    src: url("/fonts/DejaVu_Sans_Mono_for_Powerline.ttf");
}

a:link { @apply text-blue-600; }
a:visited { @apply text-blue-600; }
a:hover { @apply text-blue-600; }
a:active { @apply text-blue-600; }